/* Redesign styles */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

header {
    grid-row: 1 / 2;
}

main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr auto;
}

#section-alineacio {
    display: grid;
    place-items: center;
}

.carrusel-container {
    grid-row: 2 / 3;
    overflow-x: auto;
    width: 100%;
}

.button-container {
    grid-row: 3 / 4;
    position: relative;
}
